:root {
    --background-color: #262d34;
    --text-color: #f1f1f1;
    --primary-color: #ff3c35;
    --notification-color: #ff3c35;
    --search-bar-color: #2c353d;
    --main-color: #7a3e3e;
    --hover-color: #7a3e3e;
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    color: #f1f1f1;
}

section {
    /*height: 10vh;*/
    padding-top: 100px;
    text-align: center;
}

.navbar {
    position: relative;
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 0;
    padding-top: 20px;
    z-index: 10;
}

.navbar ul {
    display: flex;
    margin-inline: auto;
    gap: 2rem;
    padding: 2rem;
    list-style: none;
}

.navbar::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--background-color);
}

.navbar::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    right: 0;
    height: 50px;
    width: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--background-color);
}


/* Icons */

.calendar {
    background: var(--background-color);
    font-size: 30px;
    border-radius: 10px;
    border: 5px solid var(--background-color);
}

.home {
    background: var(--primary-color);
    font-size: 30px;
    border-radius: 10px;
    border: 5px solid var(--primary-color);
}


/* Search bar */

form.nosubmit {
    border: none;
    padding: 0;
    color: #858ead;
    background: var(--search-bar-color);
}

input.nosubmit {
    width: 360px;
    border: 1px solid var(--search-bar-color);
    display: block;
    padding: 9px 4px 9px 40px;
    border-radius: 7px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    border: 5px solid var(--background-color);
}


/* Notification */

.badge {
    position: relative;
    top: -35px;
    max-width: 10px;
    height: 10px;
    border-radius: 500px;
    z-index: 1;
    font-size: 0px;
    left: 75%;
}

.red {
    background: var(--notification-color);
}


/* Profil */

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid #ea942c;
    background: #f9dfc0;
}

.profile-info-name {
    background: var(--background-color);
    border-radius: 10px;
    border: 5px solid var(--background-color);
    align-items: center;
    display: flex;
}

.profile-name {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    background: var(--background-color);
    font-size: 15px;
    border-radius: 10px;
    border: 5px solid var(--background-color);
}

.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

.watch-btn {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}

.watch-btn .bx {
    font-size: 21px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-btn .bx:hover {
    background: var(--hover-color);
}

.watch-btn span {
    font-size: 1rem;
    font-weight: 400;
}


/* Heading */

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
}

.heading-title {
    font-size: 1.2rem;
    font-weight: 500;
}


/* Movie Box */

.movie-box {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.movie-box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-box .box-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient( 8deg, hsl(240 17% 14% / 74%) 14%, hsl(240 17% 14% / 14%) 44%);
    overflow: hidden;
}

.movie-title {
    font-size: 1.1rem;
    font-weight: 500;
}

.movie-a {
    color: var(--text-color);
}

.movie-type {
    font-size: 0.938rem;
}

.play-btn {
    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;
}


/* Swiper Btns */

.swiper-btn {
    display: flex;
}

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    margin: 0 0 0 10px !important;
    z-index: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: var(--text-color);
    font-size: 18px !important;
    font-weight: 700;
}


/* Movies */

.movies .heading {
    padding: 10px 14px;
}

.movies-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    gap: 1.5rem;
}

.movies-content .movie-box:hover .movie-box-img {
    transform: scale(1.1);
    transition: 0.5s;
}

.movie-backdrop {
    width: 991px;
    height: 293px;
    left: 145px;
    top: 98px;
}


/* About Movie */

.about-movie {
    /*margin-top: 2rem;*/
    display: flex;
}

.about-movie-content {
    flex: 1;
}

.about-movie h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color);
}

.tags {
    display: flex;
    align-items: center;
}

.tags span {
    background: var(--container-color);
    padding: 0 4px;
}

.about-movie p {
    max-width: 600px;
    font-size: 0.938rem;
    margin: 10px 0;
}

.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    margin-left: auto;
    border: none;
    outline: none;
    cursor: pointer;
}

.round-button:hover {
    background-color: #ff9300;
}


/**
* TEST
**/

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.left-container {
    /*background-color: #ffb43a;*/
    width: 65%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
}

.right-container {
    /*background-color: lightcoral;*/
    width: 35%;
    float: right;
    box-sizing: border-box;
    padding: 20px;
}


/*
* TEST COMMENTAIRE
*/

.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-form textarea {
    height: 80px;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-form button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment1 {
    background-color: var(--text-color);
}

.comment-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.comment-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-author h4 {
    color: #2d2e37;
}

.comment-author span {
    color: lightgray;
}

.comment-content {
    color: #2d2e37;
}

.comment-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.comment-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-actions span {
    margin-right: 20px;
    color: lightgray;
}

.comment-reply {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    /*background-color: #f7f7f7;*/
    background-color: lightgray;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-reply .comment-author img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.comment-reply p {
    margin: 0;
}

.comment-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*
* TEST ACTORS
*/

.casting2-content {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
}

.swiper-actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.swiper-actor img {
    width: 150px;
    height: 150px;
    /*border-radius: 50%;*/
}

.swiper-actor h3 {
    margin: 10px 0;
    font-size: 20px;
}

.votes-count {
    margin-top: 10px;
    font-size: 18px;
}

.movie-box-right {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.movie-box-img-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-box-right .box-text-right {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient( 8deg, hsl(240 17% 14% / 74%) 14%, hsl(240 17% 14% / 14%) 44%);
    overflow: hidden;
}

.cast-name {
    color: var(--text-color);
    text-align: center;
}

.vote-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.vote-icon {
    font-size: 20px;
    color: #888;
    margin-right: 10px;
}


/*
* REPLY MOVIE
*/

.reply-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-form input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.comment-form form {
    margin: 0;
}