:root {
    --background-color: #262d34;
    --text-color: #f1f1f1;
    --primary-color: #ff3c35;
    --notification-color: #ff3c35;
    --search-bar-color: #2c353d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    color: #f1f1f1;
}

section {
    height: 100vh;
    padding-top: 100px;
    text-align: center;
}

.navbar {
    position: relative;
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 0;
    padding-top: 20px;
}

.navbar ul {
    display: flex;
    margin-inline: auto;
    gap: 2rem;
    padding: 2rem;
    list-style: none;
}

.navbar::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--background-color);
}

.navbar::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    right: 0;
    height: 50px;
    width: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--background-color);
}


/* Icons */

.calendar {
    background: var(--background-color);
    font-size: 30px;
    border-radius: 10px;
    border: 5px solid var(--background-color);
}

.home {
    background: var(--primary-color);
    font-size: 30px;
    border-radius: 10px;
    border: 5px solid var(--primary-color);
}


/* Search bar */

form.nosubmit {
    border: none;
    padding: 0;
    color: #858ead;
    background: var(--search-bar-color);
}

input.nosubmit {
    width: 360px;
    border: 1px solid var(--search-bar-color);
    display: block;
    padding: 9px 4px 9px 40px;
    border-radius: 7px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    border: 5px solid var(--background-color);
}


/* Notification */

.badge {
    position: relative;
    top: -35px;
    max-width: 10px;
    height: 10px;
    border-radius: 500px;
    z-index: 1;
    font-size: 0px;
    left: 75%;
}

.red {
    background: var(--notification-color);
}


/* Profil */

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid #ea942c;
    background: #f9dfc0;
}

.profile-info-name {
    background: var(--background-color);
    border-radius: 10px;
    border: 5px solid var(--background-color);
    align-items: center;
    display: flex;
}

.profile-name {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    background: var(--background-color);
    font-size: 15px;
    border-radius: 10px;
    border: 5px solid var(--background-color);
}