body {
    background: #262D34;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1073px;
    height: 80px;
    left: 150px;
    top: 7px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    width: 1017px;
    height: 40px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 280px;
    height: 40px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icons .home {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    /*width: 40px;
    height: 40px;*/
    /* Red/Red */
    background: #FF4401;
    border-radius: 7px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bxs-home {
    width: 20px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icons .calendar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 40px;
    height: 40px;
    /* Dark 3 */
    background: #262D34;
    border-radius: 7px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.bxs-calendar {
    width: 20px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 58px;
    width: 720px;
    height: 40px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.search-bar {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 9px 20px;
    gap: 10px;
    width: 340px;
    /* height: 40px; */
    /*background: #2C353D;*/
    border-radius: 8px;
    flex: none;
    order: 0;
    align-items: flex-start;
    flex-grow: 0;
    justify-content: center;
}


/*input[type=search] {
    width: 100%;
    height: 100%;
    border: none;
    background: #2C353D;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}*/

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    width: 360px;
    border: 1px solid #2C353D;
    display: block;
    padding: 9px 4px 9px 40px;
    border-radius: 7px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.bx-search {
    width: 20px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.right-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 222px;
    height: 40px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.notifications {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    /*width: 40px;
    height: 40px;*/
    /* Dark 4 */
    background: #2C353D;
    border-radius: 7px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    place-content: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 157px;
    height: 40px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid #EA942C;
    background: #F9DFC0;
}

.profile-name,
.bx-chevron-down {
    color: white;
}
